@import 'config';
@import 'form';

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../pictures/b91ef686bde789f0b4540468c07e5a0b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}