*{
    margin: 0;
    padding: 0;
}
nav{
    margin-top: 2rem;
    display: flex;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: blueviolet;
}
.padajucimeni{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* margin-top: 4.2rem; */
    height: 2rem;
    padding-top: 0.5rem;
}
.more{
    position: relative;
    top: 5rem;
    display: flex;
    flex-direction: column;
}
.padajucimeni:hover{
    
}